

.owners-benefits-Page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #0a253b;
  color:white;
}

.owners-benefits-Container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start; 
  flex-direction: row;
  padding: 10vw 0vw;
}

.benefitsContainer,
.imageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 25vw;
}

.benefitsContainer p {
  font-size: 1.2vw;
  padding-top:1vw;
  margin:0vw;
  
}

.imageContainer {
  position: relative;
  border: 0.2vw solid;
  border-image: linear-gradient(to right, #1882FF, #36EBCA);
  border-bottom: none;
  border-image-slice: 1;
  background-size: cover;
  background-position: center;
  height: 31vw;
  width:99.8%;
}



.image-label {
  position: absolute;
  bottom: 0%;
  left: -0.7%;
  width: 100%;
  height: 30%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.6vw;
  border:none;
}


@media (max-width: 768px) {
  .owners-benefits-Container {
    flex-direction: column;
    align-items: center;
    padding-top: 5vw;
    padding-bottom: 5vw; 
  }

  .benefitsContainer{
    width: 300px;  
    max-width: none; 

  }
  .imageContainer {
    width:  300px;  
    max-width: none; 
  }

  .benefitsContainer p  {
    width: 300px;
    font-size: 12px;
    margin-bottom:30px;
}
}
 

