.ownerServicesPage {
  display: flex;
  flex-direction: column;
  background-color: #0a253b;
  color:white;
  gap:0.5vw;
  padding: 0vw 5vw 0vw 5vw;
}

/* Header */
.servicesHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 2vw;
}
.servicesHeader h1{
  font-size: 2.5vw;
}

/* Main-container */
.servicesContainer {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}

/* Content-container */
.contentContainer {
  display: flex;
  flex-direction: column;
  width: 60vw; 
  height:40vw;
  padding-bottom: 2vw;
  margin:auto;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 63vw;
  padding-bottom: 3vw;
}

.contentContainer h4 {
  margin: 0.9vw 0vw 1.3vw 0vw;
  font-size: 1.8vw;
}

.contentContainer p {
  margin: 0vw;
  font-size: 1.2vw;
}

/* Sidebar-services-container */
.services {
  width: 25vw; 
  display: flex;
  flex-direction: column;
  margin-top: 0;
}

.services p {
  margin-bottom: 1vw;
  font-size: 1.3vw;
}

.serviceImageContainer {
  margin-top: 1.5vw; /* Adjust the margin-top as needed */
  width: 99%; 
  height:95%;
  border: 0.2vw solid;
  border-image: linear-gradient(to right, #1882FF, #36EBCA);
  border-image-slice: 1;
  background-image: url('../../../images/owners/ownersGraph.png');
  background-size: cover; 
  /* background-position: center;  */
}


/* ServicesButton */
.ServicesButton {
  display: flex;
  margin-left: auto;}
  

@media (max-width: 768px) {
  .ownerServicesPage{
    display: flex;
    align-items: center;
  }
  .servicesHeader{
    width:80%;
  }

  .servicesHeader h1{
    font-size:20px;
  }
  .servicesContainer{
    display: flex;
    flex-direction: column; 
    gap:3vw;
    width:80%;
  }
  .services{
    /* display:flex;
    flex-direction: row; */
    width:80%;
    height:20%;
    margin:0;
  }
  .services p{
    font-size:12px;
    margin-bottom:0;
  }

  .contentContainer{
    display:flex;
    align-items: center;
    text-align: center;
    width:auto;
    margin-left:0;

  }
  .contentContainer p{
    font-size:12px;
  }

  .contentContainer h3{
    font-size:18px;
  }
  

  
  };
    